@import url(https://db.onlinewebfonts.com/c/41a37b5ce5c3e0b6200b09e4f6e8b5e5?family=Gibson);

:root {
    --white: #ffffff;
    --blue: #003262;
    --green1: #42c0b6;
    --black: #212529;
    --green2: #4cbdb1;
    --grey1: #e7ecf2;
    --grey2: #cbcbcb;
    --red: #ff4d4f;
    --grey3: #9BAFC6
  }
  
  * {
      font-family: 'Gibson';
  }