<header>
  <div class="left-container">
    <img class="logo" src="../header/img/logo_holambra_telescope.svg" />
    <h2>DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h2>
    <p>É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtores rurais.</p>
    <button>INSCREVA-SE</button>
  </div>
  <div class="right-container">
    <div class="right-header">    
      <a>Desafios</a>
      <a>Inscreva-se</a>
      <a>Cronogram</a>
      <a>Premiação</a>
      <a>Regulamento</a>
    </div>
    <h2>DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h2>
    <img class="logo-eye" src="../header/img/background.svg" />
  </div>
</header>