.body {
  color: var(--blue);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1110px;
  height: 605px;
  opacity: 1;
}

.desafios {
    display: flex;
    flex-direction: column;
}

.desafios1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
