<div>
<h1>CRONOGRAMA</h1>
<div>
    <h3>19/4</h3>
    <p>Lançamento e palestra</p>
</div>
<div>
    <h3>De 19/4 a 19/5</h3>
    <p>Inscrições</p>
</div>
<div>
    <h3>7/6</h3>
    <p>Pitch Day e seleção das propostas para a segunda etapa</p>
</div>
<div>
    <h3>12/6</h3>
    <p>Divulgação das propostas selecionadas</p>
</div>
<div>
    <h3>A partir de 14/6</h3>
    <p>Mentorias e desenvolvimento das iniciativas</p>
</div>
<div>
    <h3>28/6</h3>
    <p>Visita técnica</p>
</div>
<div>
    <h3>30/8</h3>
    <p>Pitch Day final, divulgação do ranking e evento de premiação</p>
</div>
</div>