<div>
    <div class="box1">
        <div class="footer1">
            <div>
                <p>www.holambra.com.br</p>
            </div>
            <div>
                <p>© 2021 Cooperativa Agroindustrial Holambra</p>
            </div>
        </div>
        <div class="footer2">
            <div>
                <p>Desenvolvido por Innova</p>
            </div>
            <div>
                <img />
                <img />
                <img />
            </div>
        </div>
    </div>
</div>