<div>
<h2>PREMIAÇÃO</h2>
<div>
    <h3>1º Lugar</h3>
    <p>R$ 5.000,00 + troféu</p>
</div>
<div>
    <h3>2º Lugar</h3>
    <p>R$ 3.000,00 + troféu</p>
</div>
<div>
    <h3>3º Lugar</h3>
    <p>R$ 2.000,00 + troféu</p>
</div>
<div>
    <button>CONFIRA O REGULAMENTO</button>
    <button>FAÇA SUA INSCRIÇÃO</button>
</div>
<div>
    <form>Nome</form>
    <form>Sobrenome</form>
    <form>Email</form>
    <form>Telefone</form>
    <form>CEP</form>
    <form>Endereço</form>
    <form>Bairro</form>
    <form>Complemento</form>
    <form>Cidade</form>
    <form>Estado</form>
    <button>Enviar</button>
</div>
</div>
