<div class="body">
    <h1>PREMIAÇÃO</h1>
    <div class="positions">
        <div class="box">
            <h3>1º Lugar</h3>
            <p>R$ 5.000,00 + troféu</p>
        </div>
        <div class="box">
            <h3>2º Lugar</h3>
            <p>R$ 3.000,00 + troféu</p>
        </div>
        <div class="box">
            <h3>3º Lugar</h3>
            <p>R$ 2.000,00 + troféu</p>
        </div>
    </div>
    <div class="buttons">
        <div>
            <button class="button1">CONFIRA O REGULAMENTO</button>
        </div>
        <div>
            <button class="button1">FAÇA SUA INSCRIÇÃO</button>
        </div>
    </div>
    <br>
    <div>
        <form>
            <div>
                <input placeholder="Nome" type="text" id="nome" name="nome" required>
            </div>
            <div>
                <input placeholder="Sobrenome" type="text" id="sobrenome" name="sobrenome" required>
            </div>
            <div>
                <input placeholder="Email" type="email" id="email" name="email" required>
            </div>
            <div>
                <input placeholder="Telefone" type="tel" id="telefone" name="telefone" required>
            </div>
            <div>
                <input placeholder="CEP" type="string" id="cep" name="cep" required>
            </div>
            <div>
                <input placeholder="Endereço" type="text" id="endereço" name="endereço" required>
            </div>
            <div>
                <input placeholder="Cidade" type="text" id="cidade" name="cidade" required>
            </div>
            <div>
                <input placeholder="Estado" type="text" id="estado" name="estado" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>